 body {
            font-family: Georgia, "Times New Roman", serif;
            background:url(hintergrund.jpg);
            margin: 20px 0 20px -300px;
            padding-left: 50%;
            color: #c9a24f;
        }
        a:link {
            color: #b50000;
        }

        a:visited {
            color: #b50000;
        }
        #everything {
            width: 600px;
            background-color: #fff;
            -moz-border-radius: 15px;
                border-radius: 15px;
            padding:22px;
            background-color: #f7f6f2;
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f6f2), color-stop(13%, #fff), color-stop(25%, #f7f6f2) );
            background-image: -moz-linear-gradient(top, #f7f6f2, #fff 13%, #f7f6f2 25%, #f7f6f2);
            border: 1px dotted #c9a24f;

        }

        .hint {
            color: #87AF0E;
            font-size: 0.9em;
        }

        .footer{
            border-bottom: 1px dotted #c9a24f;
            padding:22px;
            width: 600px;
            margin-top: 20px;
            font-family: helvetica, verdana, sans-serif;
            font-size: 0.8em;
            text-align: center;
        }
        h1 {
            width: 100%;
            text-align: center;
            font-weight: normal;
            font-size: 2.2em;
            margin: 0;
        }
        textarea {
            width: 100%;
            height: 300px;
            border: 1px solid #c9a24f;
            font-family: Courier, monospace;
            font-size: 1em;
            line-height:1.4em;
        }

        .claim {
            width: 100%;
            text-align: center;
        }
        .instr {
            color:#87AF0E;
            width: 500px;
            margin-left: 50px;
            border-top: 1px dashed #c9a24f;
            border-bottom: 1px dashed #c9a24f;
            padding: 10px 0;
        }
        .button {
            border: 1px solid #4E7D0E;
            border-radius: 5px;
            width: 150px;
            display: inline-block;
            outline: none;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            color: #fff;
            font-size: 12px;
            font-weight: bold;
            padding: 7px 0;
            background: #000;
            background-image:
                -webkit-gradient(
                    linear,
                    left top,
                    left bottom,
                    color-stop(0.00, #7DB72F),
                    color-stop(100%, #4E7D0E)
                );
            background-image: -moz-linear-gradient(center top , #7DB72F, #4E7D0E);
        }
        .hideOnDesktop {
            display: none;
        }

        @media screen and (orientation: portrait) and (max-width: 480px){
                #everything, .footer, .instr {
                    width: 280px;
                    padding:10px;
                }
                .instr {
                    margin: 0;
                    padding: 0;
                }

                textarea {
                    height: 150px;
                }
                body {
                    margin-left: -150px;
                }
                .hideOnDesktop {
                    display: block;
                }
                body {
                    font-size: 1.2em;
                }
        }